{% extends 'base.html' %}
{% block title %}Call Center Outsourcing Company India, USA and UK{% endblock %}
{% block main %}
{% load static %}


<!-- main-header-end -->		<div class="">
			<div>
				<h1 class="align-center" style="padding: 35px 0 0;">Explore Our Case Studies</h1>
			</div>
			<div class="tp-loader spinner1" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
		</div>
		<!---Services------>
		<section id="features">
			<div class="case_study_pg container">
				<div class="clearfix"></div>
				<ul class="thumbnails gallery case_study_filter">
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/singapore-based-database-increase-lead-generation.jpg' %}">
							<div class="caption">
								<h4><a href="/case-studies/singapore-based-database-increase-lead-generation.pdf" title="We helped a Singapore-based
									Database Company Increase
									Lead Generation with Optimal
									Data Security">We helped a Singapore-based
									Database Company Increase
									Lead Generation with Optimal
								Data Security</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/akdy-import-ticketing-and-email-support.jpg' %}">
							<div class="caption">
								<h4><a href="akdy-import-ticketing-and-email-support.pdf" title="We Helped California-based AKDY Imports
									Streamline Their Ticketing and Email Support
									Requirements in 1 Months' Time">We Helped California-based AKDY Imports
									Streamline Their Ticketing and Email Support
								Requirements in 1 Months' Time</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/our-lead-generation-process-helped-us-based-transport-giant-increase-customer-base-3months-time.jpg' %}">
							<div class="caption">
								<h4><a href="/case-studies/our-lead-generation-process-helped-us-based-transport-giant-increase-customer-base-3months-time.pdf" title="Our Lead Generation Process Helped a US Based Transport Giant Increase Customer Base in 3 Months’ Time">Our Lead Generation Process Helped a US Based Transport Giant Increase Customer Base in 3 Months’ Time </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/outstanding-customer-support-services.jpg' %}">
							<div class="caption">
								<h4><a href="outstanding-customer-support-services.php.html" title="Our Outstanding Customer Support Services Helped a Venice-Based Client Expand Customer Base Rapidly">Our Outstanding Customer Support Services Helped a Venice-Based Client Expand Customer Base Rapidly </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/multi-city-telemarketing-services.png' %}">
							<div class="caption">
								<h4><a href="multi-city-telemarketing-services.php.html" title="effective-inbound-and-outbound-support-for-a-uk-based-safety-promotion-company">Effective Multi-tier, Multi-city Telemarketing Services to a India Based Electronic Manufacturer </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/effective-inbound-and-outbound-support-for-a-uk-based-safety-promotion-company.jpg' %}">
							<div class="caption">
								<h4><a href="effective-inbound-and-outbound-support-for-a-uk-based-safety-promotion-company.php.html" title="effective-inbound-and-outbound-support-for-a-uk-based-safety-promotion-company">Effective Inbound and Outbound Support for a UK-Based Safety Promotion Company</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/our-telemarketing-services-helped-smartfoam-increase-appointment-settings-by-50.jpg' %}">
							<div class="caption">
								<h4><a href="our-telemarketing-services-helped-smartfoam-increase-appointment-settings-by-50.php.html" title="our-telemarketing-services-helped-smartfoam-increase-appointment-settings-by-50">Our Telemarketing Services Helped Smartfoam Increase Appointment Settings by 50%</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/how-we-met-the-answering-threshold-mandate-of-less-than-20-seconds-for-alberta-insurance-council.jpg' %}">
							<div class="caption">
								<h4><a href="how-we-met-the-answering-threshold-mandate-of-less-than-20-seconds-for-alberta-insurance-council.php.html" title="how-we-met-the-answering-threshold-mandate-of-less-than-20-seconds-for-alberta-insurance-council">How We Met the Answering Threshold Mandate of Less than 20 Seconds for Alberta Insurance Council</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/highly-productive-multi-channel-customer-support-for-a-domain-registry-service-provider.jpg' %}">
							<div class="caption">
								<h4><a href="highly-productive-multi-channel-customer-support-for-a-domain-registry-service-provider.php.html" title="Highly Productive Multi-Channel Customer Support for a Domain Registry Service Provider">Highly Productive Multi-Channel Customer Support for a Domain Registry Service Provider </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/our-multilingual-outbound-customer-support-helped-a-global-manufacturer-triple-sales-closing.jpg' %}">
							<div class="caption">
								<h4><a href="our-multilingual-outbound-customer-support-helped-a-global-manufacturer-triple-sales-closing.php.html" title="Our Multilingual Outbound Customer Support Helped a Global Manufacturer TRIPLE Sales Closing">Our Multilingual Outbound Customer Support Helped a Global Manufacturer TRIPLE Sales Closing</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/helping-a-us-based-health-care-pioneer-widen-the-expense-profit-gap.jpg' %}">
							<div class="caption">
								<h4><a href="helping-a-us-based-health-care-pioneer-widen-the-expense-profit-gap.php.html" title="helping-a-us-based-health-care-pioneer-widen-the-expense-profit-gap">Helping a US-Based Health Care Pioneer Widen the Expense-Profit Gap</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/lead-generation-for-australian-based-mortgage-firm.jpg' %}">
							<div class="caption">
								<h4><a href="lead-generation-for-australian-based-mortgage-firm.php.html" title="Our Lead Generation Service helped a Client Increase their Conversion Rate From 20% to 70%">Our Lead Generation Service helped a Client Increase their Conversion Rate From 20% to 70% </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/customer-satisfaction-inbound-tech-support.png' %}">
							<div class="caption">
								<h4><a href="inbound-tech-support.php.html" title="How We Helped an Expert Inbound Tech Support Team Increase Customer Satisfaction Rate from 50% to 93%  ">How We Helped an Expert Inbound Tech Support Team Increase Customer Satisfaction Rate from 50% to 93%  </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/cctv-monitoring-restaurant.png' %}">
							<div class="caption">
								<h4><a href="cctv-monitoring-solution-restaurant.php.html" title="How a Leading Restaurant Chain Benefited from OurComprehensive CCTV Monitoring Services  ">How a Leading Restaurant Chain Benefited from Our Comprehensive CCTV Monitoring Services </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/disaster-recovery-services-case-study.png' %}">
							<div class="caption">
								<h4><a href="disaster-recovery-general-insurer.php.html" title="How a Renowned General Insurer Benefited from Our Innovative Disaster-Recovery Services ">How a Renowned General Insurer Benefited from Our Innovative Disaster-Recovery Services</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/CS_6_banner.png' %}">
							<div class="caption">
								<h4><a href="b2b-outbound-call-center-services.php.html" title="How Our Customized B2B Outbound Call Center Services Helped a Research and Manufacturing Giant Meet Expectations  ">How Our Customized B2B Outbound Call Center Services Helped a Research and Manufacturing Giant Meet Expectations </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/inbound-customer-support-case-study.png' %}">
							<div class="caption">
								<h4><a href="inbound-customer-support.php.html" title="How Our Expert Help Delivered Superior Quality Customer Support">How Our Expert Help Delivered Superior Quality Customer Support </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/CATI-market-research-survey-case-study.png' %}">
							<div class="caption">
								<h4><a href="cati-market-research-services.php.html" title="How We Delivered Comprehensive CATI Services to a Leading Market Research Company">How We Delivered Comprehensive CATI Services to a Leading Market Research Company</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/cati-services-health-insurance-provider.png' %}">
							<div class="caption">
								<h4><a href="cati-services-health-insurance-provider.php.html" title="How We Completed a Mega CATI Survey for a Leading Health Insurance Provider With 99% Accuracy">How We Completed a Mega CATI Survey for a Leading Health Insurance Provider With 99% Accuracy</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/technical-support-desk.png' %}">
							<div class="caption">
								<h4><a href="inbound-technical-support-desk.php.html" title="How We Established a Cost-effective Inbound Technical Support Desk for Leading US IT Company ">How We Established a Cost-effective Inbound Technical Support Desk for Leading US IT Company </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/24x7-support.png' %}">
							<div class="caption">
								<h4><a href="24x7-support.php.html" title="How We Excelled in Providing 24x7 Support to a Leading Network Security Company ">How We Excelled in Providing 24x7 Support to a Leading Network Security Company </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/customized-bpo-process-solution.png' %}">
							<div class="caption">
								<h4><a href="customized-bpo-process-solution.php.html" title="How We Fixed the Gaps in BPO Process for a Healthcare BPO Service Provider  ">How We Fixed the Gaps in BPO Process for a Healthcare BPO Service Provider </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/mobile-application-sales-outbound-calling.png' %}">
							<div class="caption">
								<h4><a href="mobile-application-sales-outbound-calling.php.html" title="How we Increased Mobile Application Sales through Outbound Calling">How we Increased Mobile Application Sales through Outbound Calling</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/outbound-call-center-for-retail-giant.png' %}">
							<div class="caption">
								<h4><a href="outbound-call-center-for-retail-giant.php.html" title="How We Increased Footfall at the Stores of a Retail Giant through Outbound Practice">How We Increased Footfall at the Stores of a Retail Giant through Outbound Practice </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/case-study-product-sales-IT-company.png' %}">
							<div class="caption">
								<h4><a href="product-sales-outbound-cold-calling.php.html" title="How We Helped a Renowned IT Company Improve Product Sales">How We Helped a Renowned IT Company Improve Product Sales</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/case-study-cati-survey-e-retailer.png' %}">
							<div class="caption">
								<h4><a href="cati-survey-e-retailer.php.html" title="How We Helped a Leading E-retailer to Accomplish a Staggering Growth Rate of 13% in No Time ">How We Helped a Leading E-retailer to Accomplish a Staggering Growth Rate of 13% in No Time  </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/case-study-bpo-talent-scouting-company.png' %}">
							<div class="caption">
								<h4><a href="bpo-streamlining-operations-scouting-company.php.html" title="How we Helped a Reputed Talent Scouting Company Streamline its Operations">How we Helped a Reputed Talent Scouting Company Streamline its Operations </a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/cold-calling-services-for-market-inteligence-company.png' %}">
							<div class="caption">
								<h4><a href="cold-calling-services-for-market-inteligence-company.php.html" title="How a Leading Market Intelligence Company Leveraged Our Cold Calling Services to Drive Sales">How a Leading Market Intelligence Company Leveraged Our Cold Calling Services to Drive Sales</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/order-taking-services-french-baker-case-study.png' %}">
							<div class="caption">
								<h4><a href="customer-support-order-taking-for-french-baker.php.html" title="How Our Customer Support and Order Taking Services Helped a French Baker ">How Our Customer Support and Order Taking Services Helped a French Baker</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/tier-1-tech-support-aviation-case-study.png' %}">
							<div class="caption">
								<h4><a href="tier-1-technical-support-for-aviation-industry.php.html" title="Comprehensive Tier-1 Technical Support for an Aviation Industry Giant">Comprehensive Tier-1 Technical Support for an Aviation Industry Giant</a></h4>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="thumbnail">
							<img alt="270x170" src="{% static 'resources/images/case-studies/it-helpdesk-solution-case-study.png' %}">
							<div class="caption">
								<h4><a href="it-helpdesk-solution.php.html" title="How we helped a UK-based Motorcycle Insurance Provider with an Effective IT Helpdesk Solution">How we helped a UK-based Motorcycle Insurance Provider with an Effective IT Helpdesk Solution</a></h4>
							</div>
						</div>
					</li>
				</ul>
				<div class="push"></div>
			</div>
		
	</section>

<section class="pt-5">
		<h3 class="section-title font">Clients</h3>
		<h5 class="subheading">Who love to work with us</h5>
		<div class="owl-carousel owl-theme" id="owl-demo">
			<div class="item"><img alt="just premium" src="{% static 'resources/images/clients/logo1.png' %}"></div>
			<div class="item"><img alt="kairos" src="{% static 'resources/images/clients/logo2.png' %}"></div>
			<div class="item"><img alt="smart foam insulation" src="{% static 'resources/images/clients/logo3.png' %}"></div>
			<div class="item"><img alt="watchware house" src="{% static 'resources/images/clients/logo4.png' %}"></div>
			<div class="item"><img alt="aussie" src="{% static 'resources/images/clients/logo5.png' %}"></div>
			<div class="item"><img alt="sahai life" src="{% static 'resources/images/clients/logo6.png' %}"></div>
			<div class="item"><img alt="alberta insurance council" src="{% static 'resources/images/clients/logo7.png' %}"></div>
			<div class="item"><img alt="celestial systems" src="{% static 'resources/images/clients/logo8.png' %}"></div>
			<div class="item"><img alt="backbone solutions" src="{% static 'resources/images/clients/logo9.png' %}"></div>
			<div class="item"><img alt="monadros services" src="{% static 'resources/images/clients/logo10.png' %}"></div>
			<div class="item"><img alt="bringsy" src="{% static 'resources/images/clients/logo11.png' %}"></div>
			<div class="item"><img alt="speweek" src="{% static 'resources/images/clients/spaweek-logo.png' %}"></div>
			<div class="item"><img alt="cylestial" src="{% static 'resources/images/clients/cylestial-logo.png' %}"></div>
			<div class="item"><img alt="miraclefeet" src="{% static 'resources/images/clients/miraclefeet-logo.png' %}"></div>
			<div class="item"><img alt="authentic gameing" src="{% static 'resources/images/clients/AuthenticGaming-logo.png' %}"></div>
			<div class="item"><img alt="leadarr" src="{% static 'resources/images/clients/leadarr-logo.png' %}"></div>
			<div class="item"><img alt="noom" src="{% static 'resources/images/clients/noomlogo.png' %}"></div>
		</div>
	</section>


<section class="content footer-feat hidden-md-down">
	<div class="container">
		<div class="col-md-4">
			<div class="footer-feat-box box1" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/calculator-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Staffing Calculator</h3>
					<p style="margin-bottom: 34px;">Compute to know how much you get to save with our services  </p>
					<a href="callcenter-calculator.php.html" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footer-feat-box box2" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/testmonial-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Case Studies</h3>
					<p>Here are some real world examples of how our clients used our solutions to solve complex problems</p>
					<a href="case-studies/index.htm" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footer-feat-box box3" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/pricing-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Pricing</h3>
					<p>Our flexible pricing structure gives you the cost benefit you are looking for. </p>
					<a href="pricing.php.html" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
	</div>
</section>




<!-- sidebar call to action SCRIPT END -->	<script>
	$(document).ready(function(){
	if($("#inbound-radio").prop("checked", true))
	{
	$('#InboundAjaxDiv').show();
	$('#OutboundOneTimeAjaxDiv, #OutboundOnGoingADiv, #EmailSupportAjaxDiv, #ChatSupportAjaxDiv').hide();
	}
	$('#outbound-onetime-radio').on('change', function(){
	$('#OutboundOneTimeAjaxDiv').show();
	$('#InboundAjaxDiv, #OutboundOnGoingADiv, #EmailSupportAjaxDiv, #ChatSupportAjaxDiv').hide();
	});
	$('#outbound-ongoing-radio').on('change', function(){
	$('#OutboundOnGoingADiv').show();
	$('#InboundAjaxDiv, #OutboundOneTimeAjaxDiv, #EmailSupportAjaxDiv, #ChatSupportAjaxDiv').hide();
	});
	$('#email-radio').on('change', function(){
	$('#EmailSupportAjaxDiv').show();
	$('#InboundAjaxDiv, #OutboundOneTimeAjaxDiv, #OutboundOnGoingADiv, #ChatSupportAjaxDiv').hide();
	});
	$('#chat-radio').on('change', function(){
	$('#ChatSupportAjaxDiv').show();
	$('#InboundAjaxDiv, #OutboundOneTimeAjaxDiv, #OutboundOnGoingADiv, #EmailSupportAjaxDiv').hide();
	});
	$('#inbound-radio').on('change', function(){
	$('#InboundAjaxDiv').show();
	$('#OutboundOneTimeAjaxDiv, #OutboundOnGoingADiv, #EmailSupportAjaxDiv, #ChatSupportAjaxDiv').hide();
	});
	$('.next').on('click', function () {
	// save current and previous blocks (these are your fieldsets)
	var current = $(this).data('currentBlock'),
	next = $(this).data('nextBlock');
	// only validate going forward. If current group is invalid, do not go further
	// .parsley().validate() returns validation result AND show errors
	if (next > current)
	// THIS IS THE IMPORTANT STEP. Validate the current block,
	// If the current block is not validated, the next block
	// won't be shown (note the return).
	if (false === $('#inbound-form').parsley().validate('block' + current))
	return;
	// validation was ok. We can go on next step.
	$('.block' + current)
	.removeClass('show')
	.addClass('hidden');
	$('.block' + next)
	.removeClass('hidden')
	.addClass('show');
	});
	});
	</script>


{% endblock %}