{% extends 'base.html' %}
{% block title %}Certification{% endblock %}
{% block main %}
{% load static %}


<!-- main-header-end -->    <section class="container content">
      <div class="col-md-12">
        <h1 class="align-center">
        Infrastructure
        </h1>
        <br>
        <p class="align-center">
          Our robust infrastructural setup consists of state-of-the-art communication, IT security and fool-proof physical security systems.
        </p>
      </div>
      <!--       <div class="col-md-4">
              </div> -->
    </section>
    <section class="container pb-5">
      <div class="row text-center">
<h2 class="pb-3">Here's a sneak peek of some of our Delivery Centers</h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Expert Callers Bangalore Delivery Center</h5>
          <iframe width="540" height="300" src="https://www.youtube.com/embed/_Hg4aek2lFQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
          <h5>Expert Callers Philippines Delivery Center</h5>
          <iframe width="540" height="300" src="https://www.youtube.com/embed/e0mfGimEGtI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>
    <section class="container-fluid infra">
      <div class="row">
        
        <div class="col-md-6 infra-data">
          <h2>Highlights</h2>
          <ul>
            <li>2-tier network architecture</li>
            <li>Redundant L3 core design with servers terminating into the core through redundant connectivity</li>
            <li>Independent Internet Leased Circuits from multiple ISPs installed for data access and redundancy</li>
            <li>Call Center application suite created by Witness</li>
            <li>Distributed Asterisk Dialer architecture integrated with independent CRMs On Requirement</li>
            <li>24/7 security supported by state-of-art CCTV and access control system</li>
            <li>Fire alarm system</li>
          </ul>
        </div>
        <div class="col-md-6 infra-img">
          <div class="row">
            <img src="{% static 'resources/images/expertcallers-highlights.jpg' %}" alt="network architecture">
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid infra">
      <div class="row">
        <div class="col-md-6 infra-img">
          <div class="row align-middle">
            <img src="{% static 'resources/images/expertcallers-power.jpg' %}" alt="network architecture">
          </div>
        </div>
        <div class="col-md-6 infra-data">
          <h2>Power</h2>
          <h3>Primary source of power </h3>
          <ul>
            <li>Available 125 KVA</li>
            <li>Facility Load 70 KVA</li>
          </ul>
          <h3>Generator Backup </h3>
          <ul>
            <li>125 KVA generator with fuel storage for 24 hours’ operation onsite with arrangements to sustain</li>
          </ul>
          <h3>UPS Network Center – 1x 60 KVA (Redundant) </h3>
          <ul>
            <li>UPS Overall –  2 x 60 KVA (Online Synchronized)</li>
          </ul>
        </div>
        
      </div>
    </section>
    <section class="container-fluid infra">
      <div class="row">
        <div class="col-md-6 infra-data">
          <h2>Witness System</h2>
          <!--   <strong>                We run our operations with an application suite created by Witness. The features include:</strong> -->
          <h3>Voice & Screen Capture</h3>
          <ul>
            <li>100% customer interaction capture capability</li>
            <li>Capture and Access based on customer sign off and authentication only</li>
            <li>Both side energy envelope display</li>
            <li>Web based replay</li>
            <li>Extensive Tagging of data (Agent ID, Disposition, Time, Data, etc.)</li>
            <li>Query based search option</li>
            <li>Option to download the file</li>
          </ul>
          <h3>Quality System</h3>
          <ul>
            <li>Multiple Selection plan for Quality System</li>
            <li>Multiple Scoring plans</li>
            <li>Capability to change selection plans online</li>
            <li>Graphical reports</li>
          </ul>
        </div>
        <div class="col-md-6 infra-img">
          <div class="row  align-middle">
            <img src="{% static 'resources/images/expertcallers-witness.jpg' %}" alt="network architecture">
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid infra">
      <div class="row">
        <div class="col-md-6 infra-img">
          <div class="row  align-middle">
            <img src="{% static 'resources/images/expertcallers-internet.jpg' %}" alt="network architecture">
          </div>
        </div>
        <div class="col-md-6 infra-data">
          <h2>Internet Connectivity</h2>
          <strong>Our internet connectivity which use following cables:</strong>
          <ul>
            <li>Marine Fiber Optic Cable </li>
            <li>Fire-wall protected VPN system</li>
            <li>Intrusion detection technology</li>
            <li>MPLS/IPLC connectivity to multiple Locations</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="container-fluid infra">
      <div class="row">
        <div class="col-md-6 infra-data">
          <h2>Secured VPN & Network Security</h2>
          <!--   <strong>                We run our operations with an application suite created by Witness. The features include:</strong> -->
          <h3>Secured VPN</h3>
          <ul>
            <li> Total secured VPN Tunnel to Client, which blocks peers</li>
            <li>Secured Intelligent switches and Network Assistant optimized for LAN</li>
            <li>Advanced Firewall which blocks all ports for HTTP, FTP, TCP/IP, UDP and ICMP</li>
          </ul>
          <h3>Network Security</h3>
          <ul>
            <li>256-bit SSL encryption for all our systems</li>
            <li>Multi-level password protected network</li>
            <li>Tiered security system for authorized data access</li>
          </ul>
        </div>
        <div class="col-md-6 infra-img">
          <div class="row  align-middle">
            <img src="{% static 'resources/images/expertcallers-secured-vpn.jpg' %}" alt="network architecture">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="row">
          <h2 class="text-center pt-3 pb-3">Seating Capacity</h2>
          <img src="{% static 'resources/images/expertcallers-map.jpg' %}" alt="world map expertcallers" class="img-fluid">
        </div>
      </div>
    </section>
    <section class="content cta">
      <div class="container">
        <p> <a href="contactus" class="btn btn-primary">Contact us</a> now to outsource inbound and outbound call center services.</p>
      </div>
    </section>

	<section class="pt-5">
		<h3 class="section-title font">Clients</h3>
		<h5 class="subheading">Who love to work with us</h5>
		<div class="owl-carousel owl-theme" id="owl-demo">
			<div class="item"><img alt="just premium" src="{% static 'resources/images/clients/logo1.png' %}"></div>
			<div class="item"><img alt="kairos" src="{% static 'resources/images/clients/logo2.png' %}"></div>
			<div class="item"><img alt="smart foam insulation" src="{% static 'resources/images/clients/logo3.png' %}"></div>
			<div class="item"><img alt="watchware house" src="{% static 'resources/images/clients/logo4.png' %}"></div>
			<div class="item"><img alt="aussie" src="{% static 'resources/images/clients/logo5.png' %}"></div>
			<div class="item"><img alt="sahai life" src="{% static 'resources/images/clients/logo6.png' %}"></div>
			<div class="item"><img alt="alberta insurance council" src="{% static 'resources/images/clients/logo7.png' %}"></div>
			<div class="item"><img alt="celestial systems" src="{% static 'resources/images/clients/logo8.png' %}"></div>
			<div class="item"><img alt="backbone solutions" src="{% static 'resources/images/clients/logo9.png' %}"></div>
			<div class="item"><img alt="monadros services" src="{% static 'resources/images/clients/logo10.png' %}"></div>
			<div class="item"><img alt="bringsy" src="{% static 'resources/images/clients/logo11.png' %}"></div>
			<div class="item"><img alt="speweek" src="{% static 'resources/images/clients/spaweek-logo.png' %}"></div>
			<div class="item"><img alt="cylestial" src="{% static 'resources/images/clients/cylestial-logo.png' %}"></div>
			<div class="item"><img alt="miraclefeet" src="{% static 'resources/images/clients/miraclefeet-logo.png' %}"></div>
			<div class="item"><img alt="authentic gameing" src="{% static 'resources/images/clients/AuthenticGaming-logo.png' %}"></div>
			<div class="item"><img alt="leadarr" src="{% static 'resources/images/clients/leadarr-logo.png' %}"></div>
			<div class="item"><img alt="noom" src="{% static 'resources/images/clients/noomlogo.png' %}"></div>
		</div>
	</section>



<section class="content footer-feat hidden-md-down">
	<div class="container">
		<div class="col-md-4">
			<div class="footer-feat-box box1" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/calculator-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Staffing Calculator</h3>
					<p style="margin-bottom: 34px;">Compute to know how much you get to save with our services  </p>
					<a href="callcenter-calculator" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footer-feat-box box2" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/testmonial-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Case Studies</h3>
					<p>Here are some real world examples of how our clients used our solutions to solve complex problems</p>
					<a href="case-studies" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footer-feat-box box3" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/pricing-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Pricing</h3>
					<p>Our flexible pricing structure gives you the cost benefit you are looking for. </p>
					<a href="pricing" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
	</div>
</section>




{% endblock %}