{% extends 'base.html' %}
{% block title %}Call Center Outsourcing Company India, USA and UK{% endblock %}
{% block main %}
{% load static %}


 <!-- main-header-end -->    <section class="container content">
      <div class="col-md-12">
        <h1>
        Pricing
        </h1>
        <h5 class="sub-mes">
        Simple and straightforward pricing structure with no hidden costs - this is what makes our call center services cost-effective and popular.
        </h5>
        <p>
          ExpertCallers offer a highly flexible pricing model that can be molded as per the unique needs of individual business. The services offered are billed in real time and rounded to the nearest second, not minute.
        </p>
        
      </div>
      </section>
    <section class="gray-box content">
      <strong>
      
      </strong>
      <div class="container">
        <h3>   The indicative prices for some of our call center services can be as low as:</h3>
        <br>
        <div class="col-md-4">
          <div class="price-box1">
            Telemarketing and Non-Technical Support
            <span>$8-$10/hour</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="price-box2">
            Technical Support
            <br>
            <br>
            <span>$10-$15/hour</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="price-box3">
            Advanced Technical Support
            <br>
            <br>
            <span>$15-$25/hour</span>
          </div>
        </div>
        
      </div>
    </section>
    
    <section class="content why-us">
      <div class="container">
        <div class="col-md-12">
          <h4 class="white">However, the pricing structure of these services can be customized based on factors such as:</h4>
          <ul>
            <li>Call volume</li>
            <li>Complexity level of the project</li>
            <li>Skill and experience level of call center agents</li>
            <li>No. of hours / duration of contract</li>
          </ul>
        </div>
        
      </div>
    </section>
    <section class="content key">
      <div class="container">
        <div class="col-md-12">
          <h4>Pricing Disclaimer</h4>
          
          <p>Please note that the quoted prices in the website are just INDICATIVE in nature. The actual price will change depending on nature of the project, duration of the project, coverage, complexity level, skill and experience of the resources, and other terms of contract. </p>
        </div>
      </div>
    </section>
    <section class="touch">
      <div class="container tc">
        <div class="grey-line-bg"><a href="contactus" class="yellow-bttn">Contact Our Experts </a></div>
        <div class="txt"><h5>We Answer your Phones. We Focus on Solutions and Results</h5></div>
      </div>
    </section>



<section class="pt-5">
		<h3 class="section-title font">Clients</h3>
		<h5 class="subheading">Who love to work with us</h5>
		<div class="owl-carousel owl-theme" id="owl-demo">
			<div class="item"><img alt="just premium" src="{% static 'resources/images/clients/logo1.png' %}"></div>
			<div class="item"><img alt="kairos" src="{% static 'resources/images/clients/logo2.png' %}"></div>
			<div class="item"><img alt="smart foam insulation" src="{% static 'resources/images/clients/logo3.png' %}"></div>
			<div class="item"><img alt="watchware house" src="{% static 'resources/images/clients/logo4.png' %}"></div>
			<div class="item"><img alt="aussie" src="{% static 'resources/images/clients/logo5.png' %}"></div>
			<div class="item"><img alt="sahai life" src="{% static 'resources/images/clients/logo6.png' %}"></div>
			<div class="item"><img alt="alberta insurance council" src="{% static 'resources/images/clients/logo7.png' %}"></div>
			<div class="item"><img alt="celestial systems" src="{% static 'resources/images/clients/logo8.png' %}"></div>
			<div class="item"><img alt="backbone solutions" src="{% static 'resources/images/clients/logo9.png' %}"></div>
			<div class="item"><img alt="monadros services" src="{% static 'resources/images/clients/logo10.png' %}"></div>
			<div class="item"><img alt="bringsy" src="{% static 'resources/images/clients/logo11.png' %}"></div>
			<div class="item"><img alt="speweek" src="{% static 'resources/images/clients/spaweek-logo.png' %}"></div>
			<div class="item"><img alt="cylestial" src="{% static 'resources/images/clients/cylestial-logo.png' %}"></div>
			<div class="item"><img alt="miraclefeet" src="{% static 'resources/images/clients/miraclefeet-logo.png' %}"></div>
			<div class="item"><img alt="authentic gameing" src="{% static 'resources/images/clients/AuthenticGaming-logo.png' %}"></div>
			<div class="item"><img alt="leadarr" src="{% static 'resources/images/clients/leadarr-logo.png' %}"></div>
			<div class="item"><img alt="noom" src="{% static 'resources/images/clients/noomlogo.png' %}"></div>
		</div>
	</section>


<section class="content footer-feat hidden-md-down">
	<div class="container">
		<div class="col-md-4">
			<div class="footer-feat-box box1" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/calculator-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Staffing Calculator</h3>
					<p style="margin-bottom: 34px;">Compute to know how much you get to save with our services  </p>
					<a href="callcenter-calculator" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footer-feat-box box2" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/testmonial-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Case Studies</h3>
					<p>Here are some real world examples of how our clients used our solutions to solve complex problems</p>
					<a href="case-studies" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footer-feat-box box3" style="height: 200px;">
				<div class="col-md-3">
					<div class="row">
						<img src="{% static 'resources/images/pricing-icon-1.png' %}">
					</div>
				</div>
				<div class="col-md-9">
					<h3>Pricing</h3>
					<p>Our flexible pricing structure gives you the cost benefit you are looking for. </p>
					<a href="pricing" class="btn btn-warning">Know more</a>
				</div>
			</div>
		</div>
	</div>
</section>



 {% endblock %}