{% extends 'base.html' %}
{% block title %}Call Center Outsourcing Company India, USA and UK{% endblock %}
{% block main %}
{% load static %}



 <!-- main-header-end -->		<section class="container content">
			<div class="col-md-12 ">
				<h1>
				Privacy Policy
				</h1>
				<p>
					We take steps to ensure the privacy and confidentiality of the data that you share with us.
				</p>
				<p>
					The following is our privacy statement, which highlights the importance that we assign to the privacy and confidentiality of your data:
				</p>
				<h2>We Respect Your Privacy</h2>
				<ul class="bullet">
					<li>All details collected from you through the inquiry form are stored and processed securely and confidentially</li>
					<li>Your personal details (such as your name, e-mail address, telephone or fax number) are used by us solely to communicate with you and provide our products and services</li>
					<li>We will never sell, share, lease or distribute your personal information to any third-party for marketing purposes without your prior permission</li>
					<li>We employ appropriate secure technologies and procedures to prevent unauthorized use, access or disclosure of your personal information</li>
					<li>In order to best provide you with our products and services, we may share your personal information with:
						<ul>
							<li>Our affiliates</li>
							<li>Business partners</li>
							<li>Authorized service vendors and contractors</li>
						</ul></li>
					</ul>
				
				<h2>We Leverage Information to Serve You Better (Cookies)</h2>
				<ul class="bullet">
					<li>We use cookies to help provide you with better and more personalized service</li>
					<li>Cookies do not provide us with remote access to your system or to any sensitive information that you have not shared with us</li>
					<li>We only analyze the information captured through cookies in order to improve our services</li>
					<li>Information related to location or other sensitive information will never be made public</li>
					<li>Cookies are stored on your system’s or browser's memory. You can opt to turn them off by changing your browser settings. However, turning cookies off may not allow you to leverage the complete benefits offered by our website</li>
					<li>For further information, visit allaboutcookies.org</li>
				</ul>
				<h2>Links to other sites</h2>
				<ul class="bullet">
					<li>Our website may contain links to other third-party sites. These links to third-party sites are solely for your convenience and are to be accessed at your own risk.</li>
					<li>We are not responsible for the content, security, or privacy practices put forth by these sites</li>
				</ul>
				<h2>GDPR Compliance (For European Union visitors to our website)  </h2>
				<ul class="bullet">
					<li>Basic identification details such as name, telephone number, email address, company name and country name, along with web data comprising mainly of IP address, cookies and system location are stored in secure locations</li>
					<li>We store these details solely for the purpose of communicating with clients and potential customers about our products and services</li>
					<li>Personal information will not be retained longer than necessary to fulfill the purposes outlined in this privacy statement, unless a longer retention period is required by law or for directly related legitimate business purposes</li>
					<li>You may request copies of your personal information that we have saved for processing, along with details related to how, where and the purpose for which the data was stored</li>
				</ul>
				<h2>Changes to Our Privacy Policy</h2>
				<p>
					We keep our privacy policy under regular review and may change or update this policy as and when the need arises, and the same will be made available on the website.
				</p>
				<h2>How to Contact Us</h2>
				<p>
					If you have any questions about our company’s privacy policy or the data we hold on you, please contact us at the following email <a href="mailto:info@expertcallers.com">info@expertcallers.com</a>
				</p>
			</div>
		</section>

{% endblock %}